.cards-deck{
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 15px;
  margin-right: 10px;
}

.fraction-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.fraction-title{
  font-size: 16px;
  padding: 0;
  margin: 16px;
  margin-bottom: 0px;
}

.fraction-wheel{
  display: flex;
  column-gap: 14px;
}

.fraction{
  display: flex;
}

.fraction-img{
  width: 40px;
  height: 50px;
  border-radius: 5px;
}

.house-name{
  font-weight: 700;
  padding: 0 5px;
  font-size: 18px;
  margin-bottom: 4px;
}

.dot-wheel{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dot{
  border-radius: 40px;
  width: 8px;
  height: 8px;
  background-color: rgb(69, 68, 68);
  margin: 2px;
}

.nav-button{
  border: none;
  background: none;
  cursor: pointer;
}

.nav-img{
  width: 58px;
  height: 30px;
}

.nav-img:hover{
  width: 61px;
  height: 35px;
}

.non-active-nav-button{
  opacity: 0.5;
  cursor: auto;
}

/*cards menu*/
.cards-panel{
  position: relative;
  min-height: 75vh;
  display: grid;
  grid-template-columns: 90px 1fr;
}

.leaders-menu{
  background-color: rgba(39, 34, 34, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.leaders-title{
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.cards-menu{
  max-height: 75vh;
  background-color: rgba(39, 34, 34, 0.7);
  max-width: 800px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.filters-container{
  display: flex;
  column-gap: 4px;
  justify-content: space-around;
}

.filter-button{
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-img{
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.cards{
  padding: 5px;
  display: flex;
  column-gap: 9px;
  row-gap: 9px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

/*cards*/

.card, .card-image{
  width: 115px;
  height: 174px;
}

.leader-card, .leader-card-img{
  width: 78px;
  height: 107px;
  margin-bottom: 12px;
}

/*leaders cards wheel*/
.cards-wheel{
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(62, 52, 38, 0.782);
  overflow-x: scroll;
  z-index: 100;
  column-gap: 14px;
}

.cards-wheel-non-active{
  display: none;
}

.instructions{
  margin-right: 10px;
  width: 90%;
  display: flex;
  justify-content: end;
  color: rgb(148, 138, 128);
  column-gap: 10px;
}