.card{
  position: relative;
  border-radius: 5px;
}

.card-image{
  border-radius: 5px;
  width: 70px;
  height: 100px;
}

.card-value-container{
  display: flex;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  width: 17px;
  height: 17px;
  border-radius: 30px;
  border: 1px solid black;
}

.card-value{
  margin: 0;
  padding: 0;
}

.card-attribute-img, .card-ability-img{
  width: 12px;
  height: 13px;
  padding: 0px 2px;
}

.card-attributes-container{
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
}

.card-type, .card-ability{
  padding: 2px;
  background-color: rgb(203, 149, 50);
  width: 14px;
  height: 14px;
  border-radius: 44px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-left: 2px;
}

.card-ability{
  background-color: rgb(236, 231, 231);
  border: 1px solid rgb(203, 149, 50);
}