.card{
  position: relative;
  border-radius: 5px;
  height: 93px;
}

.card:hover{
  outline: 3px inset  rgb(232, 173, 84);
  cursor: pointer;
}

.card-image{
  border-radius: 5px;
  width: 63px;
  height: 93px;
}

.card-value-container{
  display: flex;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  border: 1px solid black;
}

.card-value{
  margin: 0;
  padding: 0;
}

.card-attribute-img, .card-ability-img{
  width: 10px;
  height: 11px;
  padding: 0px 2px;
}

.card-attributes-container{
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
}

.card-type, .card-ability{
  padding: 2px;
  background-color: rgb(203, 149, 50);
  width: 12px;
  height: 12px;
  border-radius: 44px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-left: 2px;
}

.card-ability{
  background-color: rgb(236, 231, 231);
  border: 1px solid rgb(203, 149, 50);
}

.bond-active .card-value{
  color: orange;
}

@media only screen and (max-width: 745px){
  .card{
    border-radius: 5px;
    height: 67px;
  }
  
  .card-image{
    border-radius: 5px;
    width: 45px;
    height: 67px;
  }

  .card-value-container{
    font-size: 11px;
    width: 13px;
    height: 13px;
  }

  .card-attribute-img, .card-ability-img{
    width: 10px;
    height: 10px;
  }
  
  .card-attributes-container{
    bottom: 2px;
    right: 1px;
  }
  
  .card-type, .card-ability{
    width: 10px;
    height: 10px;
    margin-left: 1px;
  }
}