.cards::-webkit-scrollbar, .cards-in-deck-container::-webkit-scrollbar,
.instructions-container::-webkit-scrollbar{
  background-color: rgba(39, 34, 34, 0.037);
  width: 10px;
}

.cards::-webkit-scrollbar-thumb, .cards-in-deck-container::-webkit-scrollbar-thumb,
.instructions-container::-webkit-scrollbar-thumb{
  background-color: rgba(157, 116, 73, 0.793);
  border-radius: 5px;
  width: 10px;
}

.cards-wheel::-webkit-scrollbar{
  background-color: rgba(39, 34, 34, 0.037);
  width: 10px;
}

.cards-wheel::-webkit-scrollbar-thumb{
  background-color: rgba(157, 116, 73, 0.793);
  border-radius: 5px;
  width: 10px;
}

::-webkit-scrollbar{
  background-color: rgba(107, 79, 49, 0.855);
  width: 15px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color: rgba(99, 70, 39, 0.952);
  width: 15px;
}