.crest-radio-img{
  width: 45px;
  height: 55px;
}

input[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio] + label>.crest-radio-img {
  cursor: pointer;
}

input[type=radio]:checked + label>.crest-radio-img {
  outline: 2px solid rgb(21, 0, 255);
}

.leaders-wheel{
  display: flex;
  column-gap: 15px;
}

.leader[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.leader[type=radio] + label>.leader-card{
  cursor: pointer;
}

.leader[type=radio]:checked + label>.leader-card{
  outline: 1px solid rgb(21, 0, 255);
}

.choose-leader .leader-card-img{
  width: 55px;
  height: 84px;
  border-radius: 8px;
}

.choose-leader .leader-card{
  width: 55px;
  height: 84px;
}

/*choose army styling*/

.cards-selection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.choose-team .filter-img{
  width: 23px;
  height: 23px;
}

.cards-to-use .cards{
  min-width: 200px;
  height: 100%;
  min-height: 30vh;
}

.choose-team .cards-menu{
  max-width: 500px;
  max-height: 50vh;
}