.settings-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.choose-house{
  text-align: left;
  width: 195px;
}

.choose-house div{
  display: flex;
  justify-content: center;
  column-gap: 14px;
}

.crest-radio-img{
  width: 45px;
  height: 55px;
}

input[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio] + label>.crest-radio-img {
  cursor: pointer;
}

input[type=radio]:checked + label>.crest-radio-img {
  outline: 4px outset  rgb(214, 156, 68);
}

.leaders-wheel{
  display: flex;
  column-gap: 15px;
}

.leader[type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.leader[type=radio] + label>.leader-card{
  cursor: pointer;
}

.leader[type=radio]:checked + label>.leader-card{
  outline: 4px outset  rgb(214, 156, 68);
}

.choose-leader .leader-card-img{
  width: 55px;
  height: 84px;
  border-radius: 8px;
}

.choose-leader .leader-card{
  width: 55px;
  height: 84px;
}

/*choose army styling*/
.choose-team{
  position: relative;
}

.play-button{
  position: absolute;
  right: 28px;
  bottom: -50px;
  width: 80px;
  height: 35px;
  font-size: 24px;
  font-weight: 500;
  background-color: rgb(214, 156, 68);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(160, 139, 56, 0.727);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.play-button a{
  text-decoration: none;
  color: black;
}

.play-button:hover{
  background-color: rgba(157, 116, 73, 0.793);
}

.cards-selection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.choose-team .filter-img{
  width: 23px;
  height: 23px;
}

.cards-in-deck-container{
  min-width: 200px;
  height: 100%;
  min-height: 30vh;
  padding: 5px;
  display: flex;
  column-gap: 9px;
  row-gap: 9px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.choose-team .cards-menu{
  max-width: 500px;
  max-height: 50vh;
}

.choose-team .question{
  margin-bottom: 0;
  margin-top: 8px
}

.cards-selection .info{
  margin-bottom: 3px;
  margin-top: 8px
}

.cards-selection p{
 font-weight: 500;
}

/*cards*/
.cards-in-collection .card:hover, .cards-in-deck-container .card:hover{
  outline: 4px inset  rgb(185, 136, 63);
}