html, body{
  min-height: 100%;
}

html{
  position: relative;
}

body{
  padding: 0;
  margin: 0;
  font-family: Arial;
}

html::before{
  content: "";
  background-image: url("../images/backgrounds/background-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.window{
  display: grid;
  grid-template-rows: 1fr 30px;
}

.message-window{
  background-color: rgba(9, 8, 8, 0.8);
  font-size: 24px;
  color: rgb(163, 150, 65);
  position: absolute;
  right: 0;
  left: 0;
  top: 35%;
  height: 120px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-window{
  position: relative;
  margin-top: 18px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  column-gap: 40px;
}

.display-cards-container{
  z-index: 100;
  position: absolute;
  background-color: rgba(108, 88, 66, 0.7);
  padding: 8px;
  top: 25%;
  right: 0;
  left: 0;
}

.display-cards-container p{
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.display-cards{
  display: flex;
  column-gap: 15px;
  justify-content: center;
}
.display-cards-non-visible{
  display: none;
}

.close-display-cards{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.card-wheel:hover{
  outline: 4px inset  rgb(185, 136, 63);
}

.non-active-use{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(67, 50, 35, 0.5);
  z-index: 100;
}

.display-none{
  display: none;
}

.row-to-choose{
  background-color: rgba(222, 183, 82, 0.4);
  border: 1px outset rgb(185, 136, 63);
  cursor: pointer;
}

.row-to-choose:hover{
  height: 89px;
  z-index: 100000000000;
  border: 3px outset rgb(227, 166, 73);
}

/*Instructions*/
.instructions{
  display: flex;
  justify-content: right;
  column-gap: 10px;
  z-index: 1;
  margin-right: 20px;
  text-align: center;
}

.escape-button, .add-to-row, .choose-card{
  display: flex;
  align-items: center;
  font-size: 13px;
}

.left-click-mouse{
  width: 18px;
  height: 18px;
}

.instructions button{
  cursor: pointer;
  background-color: rgb(68, 47, 31);
  color: rgb(249, 233, 192);
  border: 1px inset rgb(139, 76, 29);
  margin-right: 5px;
  font-size: 12px;
}

.instructions button:hover{
  background-color: rgb(57, 38, 23);
}
